<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-title size="large">REGISTER</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" forceOverscroll="true">
  <div class="login">
    <div class="image-container">
      <img src="../../assets/img/7226646.jpg" class="sombraImg">
    </div>
    <div class="formularioa">
      <div class="input-container-register">
        <label>Email:</label>
        <ion-input class="custom-input email" [(ngModel)]="gmail" required></ion-input>
    </div>
    
    
      <div class="input-container-register">
        <label>Izena:</label>
        <ion-input class="custom-input izena" [(ngModel)]="izena" required></ion-input>
      </div>
      <div class="input-container-register">
        <label>Abizena:</label>
        <ion-input class="custom-input abizena" [(ngModel)]="abizena" required></ion-input>
      </div>
      <div class="input-container-register">
        <label>Pasahitza:</label>
        <ion-input class="custom-input pasahitza" type="password" [(ngModel)]="password"required></ion-input>
      </div>
      <div class="input-container-register">
        <label>Errepikatu:</label>
        <ion-input class="custom-input pasahitzaErrep" type="password" [(ngModel)]="passwordConfirm" required></ion-input>
      </div>
      <div>
        <ion-button shape="round" (click)="register()" class="custom-button">Register</ion-button>
        <ion-button shape="round" (click)="backClicked()" class="back-button">
          <img slot="start" src="../../assets/img/Undo.png">
        </ion-button>
      </div>
      
    </div>
  </div>
</ion-content>
