<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-title size="large">ZER EGIN NAHI DUZU?</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" forceOverscroll="true">
  <div class="formularioa">
    <div class="login">
      <div class="image-container">
        <img src="../../assets/img/photo-modern-indoor-swimming-pool.jpg" class="sombraImg">
      </div>
      <ion-button shape="round" class="custom-button">IGERILEKUA ALOKATU</ion-button>

      <div class="image-container">
        <img src="../../assets/img/gym-with-indoor-cycling-equipment.jpg" class="sombraImg">
      </div>
      <ion-button shape="round" class="custom-button">GIMNASIO ERRESERBA</ion-button>
    </div>
  </div>
  <ion-button shape="round" class="back-button">
    <img slot="start" src="../../assets/img/Undo.png">
  </ion-button>
  
</ion-content>