.image-container {
    display: flex;
    justify-content: center;
    margin-top: 16%;
}
.custom-button{
    margin-top: 10%;
}
ion-title{
    font-size: 27px;
  }

.back-button{
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

.botones-usuario{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos en el eje X */
}
