<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-title size="large">ZER EGIN NAHI DUZU?</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" forceOverscroll="true">
  <div class="formularioa">
    <div class="login">
      <div class="image-container">
        <img src="../../assets/img/photo-modern-indoor-swimming-pool.jpg" class="sombraImg">
      </div>
      <ion-button *ngIf="isAdmin" shape="round" (click)="igerilekuGestioaClicked()" class="custom-button">IGERILEKU GESTIOA</ion-button>
      <ion-button *ngIf="!isAdmin" shape="round" (click)="igerilekuaClicked()" class="custom-button">IGERILEKUA ALOKATU</ion-button>

      <div class="image-container">
        <img src="../../assets/img/gym-with-indoor-cycling-equipment.jpg" class="sombraImg">
      </div>
      <ion-button *ngIf="isAdmin" shape="round" (click)="gimnasioGestioaClicked()" class="custom-button">GIMNASIO GESTIOA</ion-button>
      <div class="botones-usuario">
        <ion-button *ngIf="!isAdmin" shape="round" (click)="gimnasioaClicked()" class="custom-button">GIMNASIO ERRESERBA</ion-button>
        <ion-button *ngIf="!isAdmin" shape="round" (click)="nireErreserbak()" class="custom-button">NIRE ERRESERBAK</ion-button>
        <ion-button shape="round" (click)="backClicked()" class="back-button">
          <img slot="start" src="../../assets/img/Undo.png">
        </ion-button>
      </div>
    </div>
    
  </div>
</ion-content>
